.container{
    position: absolute;
    top:0%;
    right:0%;
    float:left;
    display:grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-area: 8/8/16/16;
    gap: 5em;
    grid-template-areas: 'header header' 'main aside' 'footer footer';
    
}
.item-1{
position:static;
display:grid;
grid-area:header;
align-items:start;
float:left;
justify-self: left;
margin-right:12px;
margin-top:90px;
background-attachment: fixed;
background-position: 0%;
}
.item-1 ul{
    list-style-type: none;
}
.item-1 img{
    width:40px;
    height:20px;
    align-items: end;
    justify-content:space-between;
    justify-self: unset;
    margin-bottom:60px;
    
    
}
.item-1 img:hover{
   background-color: rgb(233, 162, 10);
}
.item-2{
position:static;
display:grid;
grid-area:main;
flex-direction: column;
align-items:center;
justify-self: center;
margin-top:-550px;
margin-left:200px;
}
.item-2 input{
  border:2px solid black;
  border-radius:16px;
  padding:8px 16px 8px 16px;
  text-align:center;
  width:100%;
}
.item-2 img{
    width: 1000px;
    height:300px;
    margin-top:40px;
    border-radius:18px;
}
.item-2 table tr td a{
    padding-right:12px;
    line-height: normal;
    display:flex;
    flex-direction:row;
    justify-items: baseline;
    text-align:center;
    align-items: center;
}
.item-2 table tr td a img{
    width:50px;
    height:20px;
}
.item-2 table tr td a{
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    font-weight:600;
    color:rgb(51, 9, 241);
    padding-left:10px;
}
.item-2 table tr th img{
    width:300px;
    height:200px;
    padding-right:20px;
    padding-left:12px;
}
.item-2 table tr th p{
    font-size:20px;
    color:black;
    font-weight:400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.item-3{
position:static;
display:grid;
grid-area:aside;
padding-right:0%;
margin-left:50px;
float:right;
margin-top :-550px;
padding-top:30px;
}
.item-3 form table tr td span{
  color:black;
  font-size:20px;
  font-weight:600;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.item-3 form table tr th{
    font-size:40px;
    color:brown;
    font-weight:800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.item-3 table tr td input {
    padding-right:20px;
    margin-top:10px;
    border:2px solid black;
    border-radius:6px;
    font-size:20px;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
}
.item-3 table tr td textarea{
    padding-right:20px;
    margin-bottom:10px;
    border:2px solid black;
    border-radius:6px;
    font-size:20px;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif; 
    margin-top:20px;
}
.item-3 table tr td button{
    font-size:16px;
    margin-bottom:5px;
    padding-right:8px 8px;
    background-color:rgba(255,255,255,0.8);
    color:rgb(6, 110, 201);
    border:2px solid black;
    border-radius:5px;
    text-align:center;

}


